<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    
    <p class="text-center"><%= image_tag("icon.jpg",height: '28', width: '28')%> | 中国科学院大学版权所有 © 2016
    </p>
    
    
  </footer>
</div>
